$color-dark-bg: #1B2024;
$color-sidebar-bg: #FAFBFD;
$color-theme: #666cdc;
$font-cn: 'Nunito Sans', sans-serif;

$sidebar-width: 10rem;
$header-padding: 1rem;
$header-height: 3rem + $header-padding;
$description-overlay-height: 10rem;

body {
    font-family: $font-cn !important;
}