$color-dark-bg: #1B2024;
$color-dark2-bg: #161a1e;
$color-sidebar-bg: #FAFBFD;
$color-theme: #666cdc;
$font-cn: 'Nunito Sans', sans-serif;

$sidebar-width: 10rem;
$header-height: 5rem;
$header-logo-height: 3rem;
$description-overlay-height: 10rem;
$ui-width: 70rem;
$ui-padding-top: $header-height + 2rem;
$headline-font-size: 3rem;
$card-size: 7rem;

body {
    font-family: $font-cn !important;
}