@import "_variables.scss";

.card {
    width: $card-size;
    height: $card-size;
    border: $color-dark2-bg solid 3px;
    margin: 0.2rem;
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .card-media {
        min-height: $card-size;
        min-width: $card-size;
        max-height: $card-size * 1.5;
        max-width: $card-size * 1.5;
        display: block;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 0.5s;

        // &:hover {
        //     opacity: 0.7;
        // }
    }

    .card-delete {
        position: absolute;
        z-index: 5;
        width: 1.3rem;
        top: 0.2rem;
        right: 0.2rem;
        cursor: pointer;
        opacity: 0.7;
    }

    .card-loading {
        position: absolute;
        z-index: 5;
        width: 4rem;
        height: 4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card-download {
        position: absolute;
        z-index: 5;
        height: $card-size;
        width: $card-size;
        opacity: 1 !important;

        img {
            opacity: 0;
            position: absolute;
            max-height: $card-size * 0.3;
            max-width: $card-size * 0.3;
            top: 50%;
            left :50%;
            transform: translate(-50%, -50%);
            transition-duration: .5s;
            margin-top: -0.5rem;
        }

        &:hover {
            img {
                opacity: 1 !important;
                margin-top: 0;
            }
        }
    }

    &:hover {
        border-color: $color-theme;
        .card-media {
            opacity: 0.7;
        }
    }

    &.is-focus {
        border-color: $color-theme;
    }

    &.is-focus-dotted {
        border-color: $color-theme;
        border-style: dotted;
    }
}