@import "_variables.scss";

#generator-ui {
    position: absolute;
    min-height: calc(100vh - #{$header-height});
    height: 200vh;
    width: 100vw;
    background-color: $color-dark-bg;
    top: calc(100vh);
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
    z-index: 3;
}