@import "_variables.scss";

#header {
    margin: 0;

    #logo {
        display: block;
        position: fixed;
        height: $header-height - 1rem;
        top: $header-padding / 2;
        left: $header-padding / 2;
        opacity: 0.8;
        z-index: 5;
    }

    #background-video {
        // object-fit: none;
        // min-height: $header-height;
        min-height: 100%;
        min-width: 100vw;
        // width: 100vw;
        // height: 90vh;
        display: block;
        position: fixed;
        object-position: 0% 0%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;

        &.expand {
            top: 0;
            object-fit: cover;
            z-index: 4;
            min-height: $header-height + $header-height;
            height: $header-height;
        }
    }

    #description {
        position: fixed;
        bottom: 0rem;
        left: 1rem;
        color: white;
        width: 10rem;
        font-size: 5rem;
        opacity: 0.8;
        z-index: 2;
    }

}