@import "_variables.scss";

#inputs {
    text-align: left;
    display: block;

    .card {
        position: relative;

        #upload-button {
            width: 10px;
            height: 10px;
            position: absolute;
            display: block;
            margin: auto;
        }

        #file-upload {
            display: none;
        }

        #icon-upload {
            cursor: pointer;
        }

    }

    .card-media {
        opacity: 0.6;
    }

    .card-guide {
        .card-media{
            opacity: 1;
            transition-duration: .3s !important;
        }

        &:hover {
            .card-media{
                max-width: $card-size * 0.75 !important;
                max-height: $card-size * 0.75 !important;
                min-width: $card-size * 0.75 !important;
                min-height: $card-size * 0.75 !important;
            }
        }

        border: none;
        background-image: repeating-linear-gradient(0deg, $color-theme, $color-theme 10px, transparent 10px, transparent 20px, $color-theme 20px), repeating-linear-gradient(90deg, $color-theme, $color-theme 10px, transparent 10px, transparent 20px, $color-theme 20px), repeating-linear-gradient(180deg, $color-theme, $color-theme 10px, transparent 10px, transparent 20px, $color-theme 20px), repeating-linear-gradient(270deg, $color-theme, $color-theme 10px, transparent 10px, transparent 20px, $color-theme 20px);
        background-size: 3px calc(100% + 20px), calc(100% + 20px) 3px, 3px calc(100% + 20px) , calc(100% + 20px) 3px;
        background-position: 0 0, 0 0, 100% 0, 0 100%;
        background-repeat: no-repeat;
        animation: borderAnimation 1s infinite linear;

        @keyframes borderAnimation {
            from { background-position: 0 0, -20px 0, 100% -20px, 0 100%; }
            to { background-position: 0 -20px, 0 0, 100% 0, -20px 100%; }
        }
    }
}

@keyframes upload-card-motion {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}