@import "_variables.scss";

#top {
}

@keyframes start-motion {
    0%   {
        transform: translateX(0)
    }
    40%  {
        transform: translateX(0.6rem)
    }
    100% {
        transform: translateX(0)
    }
}